.HostItem__icon--1 {
    color: green;
}

.HostItem__icon--2 {
    color: blue;
}

.HostItem__icon--3 {
    color: yellow;
}

.HostItem__icon--4 {
    color: orange;
}

.HostItem__icon--5 {
    color: red;
}
